# Compiled class files
*.class

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/
*.code-workspace

# TMC
.tmc/
.tmcproject.yml
.available_points.json

# OS
.DS_Store

# Test results
.testresults/
